header{
    width:100%;
    background-color:#4962a7;
    min-height:100px;
    text-align: center; 
}
nav
  {
    width:100%;
    background-color:#b4bdd6;
    min-height:100px;
    padding-top: 10px;
  }
.ball
{
    float: left ;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
    text-decoration: underline;
    
  }
  a:hover {
    color: red;
    background-color: transparent;
  }
nav li
  {
    display: inline;
    float: right;
    padding: 25px;
  }
  aside
  {
    width: 30%;
    background-color: rgb(230, 211, 211);
    min-height: 690px;
    float: left;
    text-align: center;
  }
  .image
  {
    width: 100%;
    height: 653px;
  }
  article
  {
    width: 70%;
    min-height: 570px;
    background-color:lightgrey;
    float: right;
    text-align: center;
  }
  .img-cont{
    display: inline-block;
    margin-top:10px ;
    border: 1px solid;
    margin-right: 10px;
    padding: 5px;
  }
footer
{
  width: 100%;
  height: 200px;
  display: inline-block;
  background: rgb(81, 83, 224);
  text-align:center;
  line-height: 200px;
}
.search
{
  float: right;
}