article
{
    background-color:lightgray;
}
.news
{
    background-color:white;
}
.news-img
{
    display: inline-block;
     height: 200px;
}
.news-content
{
    display: inline;
    text-align: center;
    padding: 84px;
    font-size: x-large;
    line-height: 170px;
}

.news-span-img
{
    display: inline;
    float: left;
    
}
aside{
    line-height: 84px;
    font-size: xx-large;
    color: rgb(24, 42, 211);
    text-shadow: 3px 3px 6px red;
}