<article>
    <div>
        <img class="image" src="./../../assets/Photo Mine.jpg">
        <span><h1> Fronted Developer</h1></span>
  
        <h2>Hi, I'm Thamothiran A passionate Front-end Developer based in<br>
            Tamilnadu, India.</h2>
    </div>
    <div>
             <img href="./../../assets/—Pngtree—github logo icon_8630451.png">
    </div>
    <div class="socialicons">
        <a href=""> <i class="fa-brands fa-github"></i></a>
        <a href=""> <i class="fa-brands fa-linkedin"></i></a>
        <a href=""> <i class="fa-regular fa-envelope"></i></a>
        <a href=""> <i class="fa-brands fa-instagram"></i></a>
    </div><br><br>
    
    <div class="skills">
        <p class="exlens">Tech Exelence</p>
        <img class="tech" src="./../../assets/new html.png">     
        <img class="tech" src="./../../assets/css_logo-removebg-preview.png">
        <img class="tech" src="./../../assets/javascirpt.png">
        <img class="tech" src="./../../assets/angular.png">    
    </div>
</article>
