    <p>component-signin works!</p>
    <span>
        <ul>
          <li><button><a class="try" href="home">HOME</a></button></li>
          <li>
            <button><a class="try" href="news">NEWS</a></button>
        </li>
           <li>
          <button><a class="try" href="match">MATCH</a></button>
           </li>
          
           <li><button><a class="try" href="https://instagram.com/mr.thamu?igshid=NTc4MTIwNjQ2YQ==">CONTACT US</a></button></li>
       </ul>
    </span>
<aside>
    <form action="/action_page.php">
        
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Your name.."><br><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname" placeholder="Last name.."><br><br>
        <label for="email">Enter your email:</label><br>
        <input type="email" id="email" name="email" placeholder="email"><br><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br><br>
        <label for="cpwd">Confrom Password:</label><br>
        <input type="password" id="cpwd" name="pwd"><br><br>
        <label for="uname" >User Name</label><br>
        <input type="text" id="Uname" name="uname" placeholder="User Name">
        <h3>Gender</h3>
        <input type="radio" id="male" name="gender" value="Male">
        <label type=>Male</label><br>
        <input type="radio" id="Female" name="gender" value="Female">
        <label for="Female">Female</label><br>
        <input type="radio" id="Others" name="gender" value="Others">
        <label for="Others">Others</label><br><br>  
        <label for="phone">Enter Mobile Number:</label><br><br>
        <input type="tel" id="phone" name="phone" placeholder="1234-456-7890"
               pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" required><br><br>
        <input type="submit" value="Submit">
       </form>
</aside>
